{{#if view.expanded}}

	<span {{action "toggle" target="view" on="click"}} >{{view.text}}   Show less...</span>

	{{yield}}

{{else}}

	<span {{action "toggle" target="view" on="click"}} >{{view.text}}   Show more...</span>

{{/if}}